# Python stuff
.venv
__pycache__/

# Environment variables
.env
.env.local
.env.*.local

# MacOS stuff
.DS_Store

#cursor
.cursor/

#test files
test/

#inspector
.inspector.json

# ElevenLabs local agent implementation
src/client/app/api/elevenlabs/
# Input data
src/server/data/input
